@use "vendors";
@use "theme";
@use "functions";
@use "mixins";
@use "fonts";
@use "typography";
@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@charset "utf-8";

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
}

#app {
  display: grid;
  grid-template: auto 1fr auto / 1fr;
  min-height: 100vh;
}
